/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    #slider .text-content {
        display: none;
    }

    #main{
        margin: 46px 50px 0 50px;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full{
        width: 100%;
    }

    #main{
        margin: 46px 0 0 0;
    }

    #header{
        overflow: hidden;
    }

    #nav>li {
        display: block;
    }
    
    #nav>li:first-child{
        display: inline-block;
    }
    
    #nav li a{
        padding: 1px 24px;
    }

    #nav .subnav{
        position: initial;
        background: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 0 41px;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #slider .text-content {
        display: none;
    }

    #nav {
        display: block;
    }


    #content .member-img {
        width: 60%;
    }
    
    .contact-form{
        margin-top: 16px;
    }
}